.board3 {
    height: 100%;
    width: 100%;
    background-color:rgba(158, 158, 158, 0.22);
    margin-top: 25px;
    position: relative;
}

.container {
    height: 50%;
    width: 70%;
    margin: 0 auto;
}

.quiz {
    max-width: 200;
    align-items:"center";
    margin-bottom: 15;
    height: 100vh;
}
.grid {

    display:"flex";
    align-items:"center";
    height:"100%";
    width:"100%"

}
