.board {
    height: 100%;
    width: 100%;
    background-color: #1876D2;
    margin-top: 25px;
    position: relative;
}

.container {
    height: 60%;
    width: 70%;
    margin: 0 auto;
}

.source1 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: seagreen;
    position: absolute;
    margin: 4%;
    left: 0;
    top: 0px;
}

.source2 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: seagreen;
    position: absolute;
    margin: 4%;
    left: 0;
    top: 100px;
}

.source3 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: seagreen;
    position: absolute;
    margin: 4%;
    left: 0;
    top: 200px;
}

.source4 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: seagreen;
    position: absolute;
    margin: 4%;
    left: 0;
    top: 300px;
}
.source5 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: seagreen;
    position: absolute;
    margin: 4%;
    left: 0;
    top: 400px;
}

.label1 {
    border-radius: 20px;
    position: absolute;
    margin: 10px;
    top: 0;
    right: 5%;
    font-size: medium;
}

.target1 {
    height: 100px;
    width: 70px;
    background-image: url("/media/cerdito.png");
    border-radius: 20px;
    position: absolute;
    margin: 4%;
    top: 0;
    right: 0;
}

.label2 {
    border-radius: 20px;
    position: absolute;
    margin: 10px;
    top: 0;
    right: 5%;
    font-size: medium;
    top: 180px
}

.target2 {
    height: 100px;
    width: 70px;
    background-image: url("/media/cerdito.png");
    border-radius: 20px;
    position: absolute;
    margin: 4%;
    right: 0;
    bottom: 0;
}

.label3 {
    border-radius: 20px;
    position: absolute;
    margin: 10px;
    top: 0;
    right: 5%;
    font-size: medium;
    top: 420px
}
.target3 {
    height: 100px;
    width: 70px;
    background-image: url("/media/cerdito.png"); 
    position: absolute;
    margin: 4%;
    right: 0;
    top:200px;

}

.img {
    margin-top: 50%;
    height: 30px;
    width: 50px;
}