.board3 {
    height: 100%;
    width: 100%;
    background-color:rgba(158, 158, 158, 0.22);
    margin-top: 25px;
    position: relative;
}

.container {
    height: 50%;
    width: 70%;
    margin: 0 auto;
}

.quiz {
    max-width: 200;
    align-items:"center";
    margin-bottom: 15;
    height: 100vh;
}
.grid {

    display:"flex";
    align-items:"center";
    height:"100%";
    width:"100%"

}

.card-deck{
    margin-left: auto;
    margin-right: auto;
}

.heartColors{
    display: -webkit-inline-box!important;
    width: 100%;
}

.optionSelect{
    display: block!important;
    margin: 0px!important;
}

.colorHeart{
    width:140px;
    cursor:"pointer";
}

.whiteHeart{
    width:100px;
    cursor:"pointer";
}

.textHeart{
    top: 85px;
    position: relative;
    font-size: xx-large;
    line-height: 0px;
}

.textHeartWhite{
    top: 70px;
    position: relative;
    font-size: large;
    line-height: 0px;
}

.containerOperation{
    display: grid;
}

.containerHeart{
    background: none!important;
    box-shadow: none!important;

}


.containerHeartColor{
    background: none!important;
    box-shadow: none!important;

}