.App {
  text-align: center;
  background: url('./media/numbersLoginWallpaper.jpg') repeat-y;
  height:170vh;
  background-size: cover;
  overflow-y: hidden;
}
@media (min-width:720px){
  body{
    overflow-y: hidden;
  }
}

