.App {
  text-align: center;
  background: url('./media/numbersLoginWallpaper.jpg') repeat-y;
  height:180vh;
  background-size: cover;
  overflow-y: hidden;
}
@media (min-width:1800px){
  body{
    overflow-y: hidden;
  }
}

 